@font-face {
    font-family: 'Bluu Next Cyrillic';
    src: url('/fonts/Bluu\ Next\ Cyrillic.otf') format('otf');
    src: url('/fonts/Bluu\ Next\ Cyrillic.ttf') format('ttf');
    src: url('/fonts/Bluu\ Next\ Cyrillic.woff') format('woff');
    src: url('/fonts/Bluu\ Next\ Cyrillic.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont_opsz\,wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}