.character-page{
    @include center;
    flex-direction: column;
    gap: 70px;
    margin-top: 100px;

    &__title{
        font-family: "Bluu Next Cyrillic", serif;
    @include text(80px, 700, 1.25);
    color: var(--accent-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 70px;
    }

}